body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calc-body {
  height: 75vh;
  min-height: 240px;
}

.calc-display {
  height: 1.5em;
  font-size: 2.5em;
  text-align: right;
}

.calc-display-text {
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px 2px 2px 2px;
}

.calc-keypad {
  height: calc(100% - 2.5em);
  border-top: 1px solid #000;
}

.calc-button {
  width: 25%;
  height: 20%;
  box-shadow: 1px 1px 0 #000;
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  transition: all linear 100ms;
  background: rgba(0,0,0,0);
}

.calc-button:hover {
  background: rgba(0,0,0,0.1);
}

.calc-button:active {
  background: rgba(0,0,0,0.4);
}